
html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






/*project structures*/
.headers{padding-top: 24px;}
.content{padding:56px;}
.flex-container{
	width: 100%;
	height: auto;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
  	flex-wrap:wrap;
	-webkit-flex-direction: row;flex-direction:row;
	-webkit-justify-content: flex-start; /* Safari */
  	justify-content: flex-start;
}
.flex-item{
	margin: 0px;
	width: auto;
	height:auto;
	-webkit-flex-grow: 0; /* Safari */
  	flex-grow:         0;
}

.links{padding-top: 24px;margin:0px 56px 16px 0px;vertical-align: top;max-width:400px;}
.project_description{padding-top:56px;}



/*CV*/
.cv{margin:auto;width:50%;height:auto;background-color: #ffffff;padding:32px;}
.cv_left {width:40%;display:inline-block;vertical-align:top;color:#434343;padding: 16px;}
.cv_right {width:80%;display:inline-block;color:#434343;padding: 16px;}
.cvlinks{color:#9b9b9b;text-decoration:underline;}
.cvlinks:hover{color:#ffffff;background-color:#96A1AE;transition:0.2s;}

/*aboutling*/
.vr {padding: 56px;background-color: #ffffff;}
.about {margin:auto;width:50%;height:auto;padding:32px;}

/*  breakpoints - ipad */
@media only screen and (max-width: 760px) {
	.content {padding:36px;}
	.links {max-width: 400px;}
	.cv   { width: auto;  }
	.about   { width: auto;  }

}
/*  breakpoints - smartphone */
@media only screen and (max-width: 480px) {

	.content {padding:36px;}
	.links {max-width: 320px;}
	.cv   { width: auto;  }
	.about   { width: auto;  }

}



/*text styles*/
h1 {
	font-family:"Consolas", "Menlo", "Monaco", "Lucida Console", "Courier New", monospace, serif;
	font-size: 12px;
	color:#fafafa;
	letter-spacing: 0.5px;
	text-decoration: none;
	cursor: pointer;
}

h2 {
	padding-top: 20px;
	font-family:"Consolas", "Menlo", "Monaco", "Lucida Console", "Courier New", monospace, serif;
	color:#f3f3f3;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0px;
	text-decoration: none;
	cursor: pointer;
}


p {
	font-family:"Consolas", "Menlo", "Monaco", "Lucida Console", "Courier New", monospace, serif;
	color:#fafafa;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0px;
	text-decoration: none;
	cursor: pointer;
}


li{	
	font-family:"Consolas", "Menlo", "Monaco", "Lucida Console", "Courier New", monospace, serif;
	color:#434343;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0px;
	text-decoration: none;
	list-style: none;}

mark {background-color: #96A1AE; opacity:0.8;color:#ffffff;}








/* footer links */

footer {position:fixed;right:0;bottom:0;left:40px;padding:0em;}
.footeritems{padding-left:56px;}
.footerlink{font-size:1em;background-color:#7A6256;color:#ffffff;text-decoration:inherit;margin-left:24px;} 
.footerlink:hover{color:#ffffff;transition:0.3s;}










/* unvisited link */
a:link {
    color: #ededed; opacity: 0.8;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ededed; opacity: 0.8;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ffffff;opacity: 1.0;
    background-color: #96A1AE;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1);



}

/* selected link */
a:active {
    color: #ededed;
    text-decoration: none;
}

